<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<group groupName="analytics.aggregation" role:require="Standalone or Processing">
				<pipelines>
					<interactionsBatch>
						<processor type="SC.Interactions.Exporter.Pipelines.InteractionsBatch.ExportInteraction, SC.Interactions.Exporter" resolve="true" />
					</interactionsBatch>
				</pipelines>
			</group>
		</pipelines>
		<settings role:require="Standalone or Processing">
			<setting name="SC.Interactions.Exporter.EnableXDBDataExport" value="true" />
		</settings>
	</sitecore>
</configuration>